* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ADDRESS-BOOK */
.div-add:hover,
.link-detail {
  cursor: pointer;
}

.info {
  cursor: default;
}

.hidden-info {
  display: none;
}
.visualize {
  display: block;
}

.bi {
  cursor: pointer;
}

.new-part {
  display: flex;
  gap: 30px;
}
