* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ADDRESS-BOOK */
.div-add:hover,
.link-detail {
  cursor: pointer;
}

.info {
  cursor: default;
}

.hidden-info {
  display: none;
}
.visualize {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.bi {
  cursor: pointer;
}

.new-part {
  display: flex;
  gap: 30px;
}

.div-add {
  width: 30%;
  margin-top: 15px;
  border: 1px #0d6efd solid;
  padding: 10px;
  border-radius: 12px;
  color: #0d6efd;
}

.field-search input {
  padding: 10px;
  border-radius: 12px;
}

.field-search input:focus {
  outline: none;
  border: 2px #0d6efd solid;
}

.div-add:hover {
  box-shadow: 0 0 6px #0d6efd;
}

.address-sec {
  padding: 20px;
  color: #0d6efd;
}

.bi-telephone-fill {
  color: #0d6efd;
}

.spec-span {
  display: block;
}

.link-info-test {
  display: flex;
  gap: 10px;
}

.bi-dash-square-fill {
  color: #0d6efd;
}

.bi-plus-square-fill {
  color: #0d6efd;
}
